.text-cent{ 
    font-size: 50px;
    text-align: center;
    font-family: "Wade Sans Light Regular";
    font-weight: bolder;
    color: white;
}

.subtext{
    font-size: 20px;
    text-align: center;
    font-family: "Wade Sans Light Regular";
    font-weight: bolder;
    color: whitesmoke;
}

@font-face {
    font-family: "Wade Sans Light Regular";
    src: url('/assets/Wade\ Sans\ Light\ Regular.ttf') format('truetype');
  }

  p{
    text-align:left;
    display: flex;
    font-family: "Wade Sans Light Regular";
    font-weight: bolder;
    color: white;
  }

  body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: url(https://images.unsplash.com/photo-1614851099511-773084f6911d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sb3JmdWwlMjBibHVyfGVufDB8fDB8fHww&w=1000&q=80) no-repeat center center fixed;
    background-size: cover;
  }


  .custom-carousel-image {
    max-width: 30%;
    height: auto;
    display: block; 
    margin: 0 auto; 
}

.carousel-control-prev,
.carousel-control-next {
    font-size: 2rem; 
    width: 3rem; 
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%; 
 
}
    li{ 
      color: whitesmoke;
      font-family: "Wade Sans Light Regular";
      list-style-type: none;
    }

    .nav-pills .nav-link {
      font-size: 40px; 
      padding: 10px 20px; 
      margin-right: 10px; 
      justify-content: center;
  }

  p{ 
    text-indent: 50px;
  }

  h1{ 
    font-family: "Wade Sans Light Regular";
    color: white;
    font-weight: 900;
    font-size: 80px;
  }
 