.text-cent{ 
    font-size: 50px;
    text-align: center;
    font-family: "Wade Sans Light Regular";
    font-weight: bolder;
    color: white;
}

.subtext{
    font-size: 20px;
    text-align: center;
    font-family: "Wade Sans Light Regular";
    font-weight: bolder;
    color: whitesmoke;
}

@font-face {
    font-family: "Wade Sans Light Regular";
    src: url('/assets/Wade\ Sans\ Light\ Regular.ttf') format('truetype');
  }

  p{
    text-align:left;
    display: flex;
    font-family: "Wade Sans Light Regular";
    font-weight: bolder;
    color: white;
  }

  body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: url(https://images.unsplash.com/photo-1614851099511-773084f6911d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sb3JmdWwlMjBibHVyfGVufDB8fDB8fHww&w=1000&q=80) no-repeat center center fixed;
    background-size: cover;
  }

  .bottom-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff; 
    padding: 10px; }